* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

/**navBar**/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
nav h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

nav h1 span {
  color: #0050ff;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: 600;
}

nav button {
  font: 1em;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #0050ff;
  color: #fff;
  cursor: pointer;
}

/**Global State**/
a {
  text-decoration: none;
  color: #000;
}

/**hover state**/
nav ul li a:hover {
  color: #0050ff;
}

nav button:hover {
  background: #fff;
  color: #0050ff;
  box-shadow: 1px 1px 5px #0050ff;
}

/**content**/
.container {
  display: flex;
  position: relative;
}
.left {
  width: 40%;
  height: 100vh;
  background: #e6dace;
}

.right {
  width: 60%;
  height: 100vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
