* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
nav h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

nav h1 span {
  color: #0050ff;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav button {
  font: 1em;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #0050ff;
  color: #fff;
}

/*hover state*/
nav ul li a:hover {
  color: #0050ff;
}

nav button:hover {
  background: #fff;
  color: #0050ff;
  box-shadow: 1px 1px 5px #0050ff;
}
